#start_button {
    /* display: flex;
    justify-content: center;
    text-decoration: none;
    flex-direction: column; */
    border: 1px solid #2a9d8f;
    color: #264653;
    background: #f4a261;
    border-radius: 16px;
    padding: 0.25rem 1rem;
    font-size: 14px;
    cursor: pointer;
}

#start_button:hover {
    background: #e9c46a;
    color: #264653;
}

section {
    background: #2a9d8f;
}

a {
    color:#a8dadc;
}

form {
    background-color: #264653;
}

input {
    color: #f4a261;
    background: #264653;
}

/* #send_button {
    color: #e9c46a;
    background: #e9c46a;
} */